/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Light background */
    color: #333;
    height: 100%;
    margin: 0;
}

header {
    background-color: #1e3a5f;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
header h1 {
    font-size: 2.5rem;
    letter-spacing: 1.5px;

}

#toggleButton:hover {
    background-color: #2e5a8b;
}

#editorCards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

#changesSection {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


